@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS NAV / SLIDER */

.navbar-centro{
    justify-content: center;
    margin-left: auto;
  
}
nav li a{
    font-family:'Roboto';
}

nav li a:hover{
    background-color: #ebdfb42a;
}

.user{
     margin-left: auto;
}

.icono{
    width: 35px;
    height: 30px;
}

.boton{
    background:none;
    border: none;
    color: white;
}

.boton:hover{
    color: #ebdfb4;
}

.formulario{
    padding: 10px;   
}

.medio{
    text-align: center;
}

.btn-outline-success{
    padding: 2px ;
    color: white;
    border-radius: 50px;  
}

.btn-outline-success:hover{
    color: #ebdfb4;
    background: none;
}

.texto-derecha{
    position: absolute;
    bottom: 15px;
    right: 100px;
    color: white;
}

.texto-izquierda{
    position: absolute;
    bottom: 15px;
    left: 100px;
    color: black;
}

.texto-slider{
    font-family: 'Roboto', sans-serif;
}

/* CSS QUIENES SOMOS */

.container-somos{
    background-image: url(Photos/fondosomos.png);
    background-size: cover;
    font-family: 'roboto';
}

@media screen and (max-width: 990px) {
    .container-somos{
        background-image: url(Photos/fondosomos2.jpg);
        background-size: cover; 
        background-repeat: none;
    }
}
h1{
    font-size: 50px;
}
    

.fondo{
    background-color: black;
}


.guitarra{
    height: 400px;
}